.blog-wrapper{
  width: 100%;
  margin-top: 67px;
  padding: 2.5rem 2rem;
  min-height: 1000px;
  /********************blog one*********************/
  .blog-one{
    width: 100%;
    padding: 0 4rem;
    display: flex;
    justify-content: space-between;
    .blog-one-posts{
      flex-basis: 72%;
      margin-bottom: 1rem;
      .blog-o-post{
        margin: 0 0 2rem 0;
        img{
          width: 100%;
        }
        .blog-o-info{
          width: 100%;
          margin: 0.5rem 0;
          padding: 1rem 1.5rem;
          p{
            margin-top: 0.5rem;
          }
          a{
            display: inline-block;
            padding: 3px 25px;
            text-decoration: none;
            border-radius: 15px;
            border: 1px solid lightgrey;
            font:{
              size: 0.9rem;
            }
            color: royalblue;
            transition: all 500ms;
            i{
              color: inherit;
            }
            &:hover{
              background: royalblue;
              border-color: royalblue;
              color: white;
              i{
                color: white;
              }
            }
          }
        }
      }
      @include mq(925, max){
        flex-basis: 100%;
      }
    }
    .blog-one-aside{
      flex-basis: 25%;
      border: 1px solid #f1f1f1;
      border-radius: 3px;
      .blog-poster{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem 1rem;
        &>div{
          width: 140px;
          height: 140px;
          border-radius: 50%;
          position: relative;
          overflow: hidden;
          img{
            width: 100%;
            border-radius: inherit;
          }
          .name{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 40%;
            background: rgba(0,0,0,0.55);
            display: flex;
            align-items: center;
            justify-content: center;
            padding-bottom: 1rem;
            strong{
              text-transform: uppercase;
              color: whitesmoke;
              font:{
                size: 0.8rem;
              }
            }
          }
        }
        p{
          text-align: center;
          font:{
            size: 0.9rem;
          }
          margin-top: 1.5rem;
        }
        a{
          color: royalblue;
          display: block;
          text-align: center;
          font:{
            size: 0.9rem;
          }
        }
        strong{
          width: 100%;
          display: flex;
          justify-content: center;
          margin-top: 1rem;
          i{
            display: inline-block;
            margin-right: 0.5rem;
            cursor: pointer;
            transition: color 400ms;
            &:hover{
              color: royalblue;
            }
          }
        }
      }
      .recent{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 1rem 2.5rem;
        strong{
          flex-basis: 100%;
          text-transform: uppercase;
          font:{
            size: 1rem;
          }
          display: inline-block;
          margin-bottom: 2rem;
          text-align: center;
        }
        .recent-story{
          flex-basis: 100%;
          img{
            width: 100%;
            border-radius: 3px;
            margin-bottom: 0.5rem;
          }
          margin-bottom: 1rem;
        }
        @include mq(925, max){
          justify-content: space-between;
          .recent-story{
            flex-basis: calc(94% / 3);
            @include mq(460, max){
              flex-basis: 100%;
            }
          }
          .ui-btn{
            display: none;
          }
        }
      }
      .categories{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem 2.5rem;
        strong{
          text-transform: uppercase;
          font:{
            size: 1rem;
          }
          display: inline-block;
          margin-bottom: 2rem;
        }
        a{
          text-decoration: none;
          display: block;
          padding: 4px 1rem;
          border-bottom: 1px solid #eeeeee;
        }
      }
      @include mq(925, max){
        flex-basis: 100%;
      }
    }
    @include mq(1090, max){
      padding: 0 0.8rem;
    }
    @include mq(925, max){
      flex-wrap: wrap;
    }
  }
  /********************end blog one*********************/

  /**********************blog two**********************/
  .blog-two{
    padding: 0 8rem;
    width: 100%;
    .blog-two-post{
      width: 100%;
      margin-bottom: 1rem;
      display: flex;
      justify-content: space-between;
      .blog-t-info{
        flex-basis: 55%;
        padding: 1rem;
        p{
          margin-top: 1rem;
        }
      }
      .blog-t-img{
        flex-basis: 41%;
        img{
          width: 100%;
        }
      }
      @include mq(785, max){
        flex-wrap: wrap;
        .blog-t-info{
          flex-basis: 100%;
          padding: 0 1rem!important;
        }
        .blog-t-img{
          flex-basis: 100%;
          order: -1;
          margin-bottom: 1rem;
        }
      }
    }
    margin-bottom: 5rem;
    @include mq(1125, max){
      padding: 0 3rem;
      .blog-two-post{
        .blog-t-info{
          padding: 0;
        }
      }
    }
    @include mq(900, max){
      padding: 0 0.5rem;
    }
  }
  /**********************end blog two**********************/

  .comments{
    width: 100%;
    &>strong{
      display: inline-block;
      margin-bottom: 1.5rem;
    }
    .comment{
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 1.5rem;
      .comm-img{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin-right: 1rem;
        img{
          width: 100%;
          border-radius: inherit;
        }
      }
      .comm-info{
        flex-basis: calc(100% - 80px);
        p{
          margin-bottom: 0.1rem;
        }
      }
    }
  }

  .comm-form{
    padding: 0 3rem;
    &>strong{
      display: inline-block;
      margin-bottom: 1.5rem;
    }
    .ui-btn{
      i{
        color: whitesmoke;
      }
    }
    @include mq(470, max){
      padding: 0 0;
    }
  }

  @include mq(1015, max){
    padding: 2.5rem 0.6rem;
  }
}